/**
 *-------------------------------
 *泰秀 base style
 * @Author Huajie 2016-06-17
 *-------------------------------
 */
*{margin: 0; padding: 0;}
body{background-color:#f2f2f2; color:#444444; font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif; font-size: 16px; }
img, input, select { vertical-align: middle; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:1em; }
ol, ul { list-style-type:none; }
table { border-collapse:collapse; border-spacing:0; }
th,caption { text-align:left; }
a img { border:0 none; cursor:pointer; }
fieldset,img { border:0 none; }
a, input { outline:0 none; }
a:link, a:visited { text-decoration:none; }
a, div, p, span, li, input{-webkit-tap-highlight-color: rgba(0,0,0,0);  -webkit-focus-ring-color: rgba(0, 0, 0, 0); -moz-tap-highlight-color: rgba(0,0,0,0); -moz-focus-ring-color: rgba(0, 0, 0, 0);  }
a{ color:#444444;}
html { -webkit-text-size-adjust: none; }
.clear { clear:both; height:0; width:0; display:block; visibility:hidden; overflow:hidden; }
.container{min-width:320px; max-width:640px;margin:0 auto; overflow:hidden;}
.pTop{ min-width: 320px; max-width: 640px; width: 100%; position: fixed; top: 0; z-index: 10;}
.pBottom{min-width: 320px; max-width: 640px; width: 100%; position: fixed; bottom:0; z-index: 10; }
.picBg{ background: url("../images/boxBg.png") center no-repeat #ffffff; background-size: contain;}
.fff{ background: #ffffff; }
.mt50{ margin-top:50px;}
.mt60{ margin-top:65px;}
.mb60{ margin-bottom:60px;}
.border-top{ border-top:1px #e6e6e6 solid;}
.border-bottom{ border-bottom:1px #e6e6e6 solid;}
.boxSD{ box-shadow: 0 1px 2px #cfcfcf;}
.mt15{ margin-top:15px;}
.mt5{ margin-top:15px;}
.pd15{ padding: 10px 15px;}
.pl15{ padding-left:15px;}
.clearfix:after{    content: " ";    display: block;    height: 0;    clear: both;    visibility: hidden;}
.clearfix { /* 触发 hasLayout */    zoom: 1;}
/*遮罩层*/
.maskBox{position: fixed; top: 0; width: 100%; height: 100%; background: #000000; opacity: 0.8; z-index: 10;!important; display: none; animation-fill-mode: forwards !important;}
a, div, p, span, li, input{
    tap-highlight-color: rgba(0,0,0,0);
    focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -moz-focus-ring-color: rgba(0, 0, 0, 0);
}
/*禁止选择*/
.selectNone{-moz-user-select:none;/*火狐*/ -webkit-user-select:none;/*webkit浏览器*/-ms-user-select:none;/*IE10*/-khtml-user-select:none;/*早期浏览器*/user-select:none;  }
/*loading动画*/
.spinner {
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
.spinner > div {
    width: 30px;
    height: 30px;
    background-color: #ccc;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
/*=============/ search /==============*/
header{ height: 50px; background: #dc214c; position: relative;}
header .center-btn{ display: block; position: absolute; width: 50px; height: 50px; border-radius: 3px; overflow: hidden;/* background: url("../images/icon.png") 13px 12px no-repeat; background-size:210px ;*/ }
header .no_user{ display: block; position: absolute; width: 50px; height: 50px; border-radius: 3px; overflow: hidden;background: url("../images/icon.png") 13px 12px no-repeat; background-size:210px ; }

header .center-btn img{ width: 30px; height: 30px; position: absolute; left: 8px; top: 9px; }
header .center-btn-select{ position: absolute; width: 80px; top: 50px;}
header .center-btn-select .link{ width: 80px; padding: 0 15px; border-radius: 0 0 6px 6px; box-shadow: 0 0 6px #ccc; }
header .center-btn-select .link a{ display: block; line-height: 45px; text-align: center; }

header form{ display: block; height: 30px; margin: 10px 10px 10px 50px; background: #ffffff; position: relative; border-radius: 6px; overflow: hidden; }
header form .search-it{ height: 30px; border: none; width: 90%; margin-left: 10px; background: none;}
header form .search{ height: 30px; width:45px;position: absolute; top: 0; right: 0; background: url("../images/icon.png") -45px 6px no-repeat; background-size:252px ;}
header form .search input{ height: 30px;  width: 45px; opacity: 0;}
/*=============/ public-topB /==============*/
.public-topB{ height: 50px; background: #f9f9f9; }
.public-topB .public-back{ width: 50px; height: 50px; position: absolute; background: url("../images/icon.png") -96px 14px no-repeat; background-size:210px ; }
.public-topB .text{ line-height: 50px; font-size: 18px; margin: 0 50px; text-align: center; }
/*=============/ public-like /==============*/
.public-like{ padding: 30px 0;}
.public-like p{ width: 80px; height: 80px; background: url("../images/icon-zan-big.png") -86px 0 no-repeat; background-size: 166px 80px; margin: 0 auto; }
.public-like .like{ background: url("../images/icon-zan-big.png") 0 0 no-repeat; background-size: 166px 80px; }
.public-like span{ display: block; line-height: 25px; text-align: center; }

.noDataBox{ text-align: center; margin: 100px 0;}
.noDataBox p{ line-height: 30px; color: #999999;}